[project]
	description = Play Framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/slowingwind
[access "refs/for/refs/*"]
	read = group user/slowingwind
	push = group user/slowingwind
	label-Code-Review = -2..+2 group user/slowingwind
	label-Verified = -1..+1 group user/slowingwind
	rebase = group user/slowingwind
	removeReviewer = group user/slowingwind
	submit = group user/slowingwind
[access "refs/heads/*"]
	read = group user/slowingwind
	create = group user/slowingwind
	push = +force group user/slowingwind
	pushMerge = group user/slowingwind
[access "refs/tags/*"]
	push = group user/slowingwind
	push = +force group user/slowingwind
